.form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
    flex-wrap: wrap;
}

.form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
}

.form-details form span {
    font-size: 12px;
}

.form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

.form-details form input,
.form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

.form-details form button {
    background-color: #088178;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-details form button:hover {
    background-color: #066f66;
}

.form-details form .campo-control {
    width: 100%;
}

.form-details .people {
    padding-bottom: 25px;
}

.form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

.form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

.form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

.form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

/* mensajes de error */
.campo-control.error input,
.campo-control.error textarea {
    border-color: #ff0000;
}

.campo-control .texto-error {
    color: #ff0000;
    font-size: 0.8em;
    margin-top: 5px;
    display: none;
}

.campo-control.error .texto-error {
    display: block;
}

.mensaje-error-dinamico {
    color: #d9534f;
    font-size: 0.8em;
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
}

.campo-con-error {
    border: 1px solid #d9534f !important;
}

/* responsive */
@media (max-width:799px) {
    .form-details {
        padding: 40px;
    }

    .form-details form {
        width: 50%;
    }
}

@media (max-width:477px) {
    .form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    .form-details form {
        width: 100%;
        margin-bottom: 30px;
    }
}
