.hero {
    background-image: url('../../img/hero4.gif');
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 150vh;
    width: 100%;
    background-size: cover;
    background-position: top 5% center;
    padding: 0 40px;
    margin-bottom: 40px;

    .hero-content {
        height: 50%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: left;
        z-index: 1;

        & h4 {
            color: #130603;
            margin-bottom: 10px;
            font-size: 1rem;
        }

        & h2 {
            color: #222;
            font-size: 2.5rem;
            margin-bottom: 10px;
        }

        & h1 {
            color: #130603;
            font-size: 3rem;
            margin-bottom: 15px;
        }

        & button {
            background-color: #dd562c;
            color: white;
            border: none;
            padding: 12px 25px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        & button:hover {
            background-color: #066f66;
        }

    }
}


/* Estilos Responsive para Hero */
@media (max-width: 1200px) {
    .hero {
        padding: 0 60px;
    }
    
    .hero .hero-content {
        width: 55%;
    }
}

@media (max-width: 992px) {
    .hero {
        height: 85vh;
        padding: 0 60px;
    }
    
    .hero .hero-content {
        width: 60%;
    }
    
    .hero .hero-content h1 {
        font-size: 2.5rem;
    }
    
    .hero .hero-content h2 {
        font-size: 2.2rem;
    }
    
    .hero .hero-content p {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .hero {
        height: 70vh;
        padding: 0 40px;
        justify-content: center;
        background-position: top center;
    }
    
    .hero .hero-content {
        width: 80%;
        align-items: center;
        text-align: center;
    }
    
    .hero .hero-content h4 {
        font-size: 0.9rem;
    }
    
    .hero .hero-content h2 {
        font-size: 1.8rem;
    }
    
    .hero .hero-content h1 {
        font-size: 2.2rem;
    }
}

@media (max-width: 576px) {
    .hero {
        height: 60vh;
        padding: 0 20px;
        background-position: 55% center;
    }
    
    .hero .hero-content {
        width: 100%;
    }
    
    .hero .hero-content h4 {
        font-size: 0.8rem;
    }
    
    .hero .hero-content h2 {
        font-size: 1.5rem;
    }
    
    .hero .hero-content h1 {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
    
    .hero .hero-content p {
        font-size: 0.8rem;
        margin-bottom: 15px;
    }
    
    .hero .hero-content button {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}
